{% extends 'base_layout.html' %}

{% block content%}
    <h1>Sign Up</h1>
    <form class="site-form" action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        {{ form  }}
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}