{% extends 'base_layout.html' %}

{% block content%}
    <div class="article_detail">
        <div class="article">
            <img src="{{article.thumbnail.url}}"/>
            <h2>{{ article.title }}</h2>
            <h6>{{ article.likes.all.count }} Likes</h6>
            <h6>{{ article.comments.all.count }} Comments</h6>
            <p>{{ article.body }}</p>
            <p>{{ article.date }}</p>
            <form id="likebutton" action="{% url 'articles:like' slug=article.slug%}" method="POST">
                {% csrf_token %}
                <button type="submit" value="Like">Like It!</button>
            </form>
            <a class="button" href="{% url 'articles:comment' slug=article.slug %}">Add new comment: </a>
            {% for comment in article.comments.all %}
                <div class="comment">
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                    <p>{{ comment.date }}</p>
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}