{% extends 'base_layout.html' %}

{% block content%}
    <h1>Article List</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
                <h6>{{ article.likes.all.count }} Likes</h6>
                <h6>{{ article.comments.all.count }} Comments</h6>
                <p>{{ article.snippet }}</p>     
                <p>{{ article.date }}</p>     
                <p class="author">added by: {{ article.author.username }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}