{% extends 'base_layout.html' %}

{% block content%}
    <div class="create-comment">
        <h2>Write Your Comment Here!</h2>
        <form class="site-form" action="{% url 'articles:comment' slug=article.slug %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}