{% extends 'base_layout.html' %}

{% block content%}
    <div class="create-article">
        <h2>Create An Awesome New Article!</h2>
        <form class="site-form" action="{% url 'articles:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create">
        </form>
    </div>
    <script src="/static/slugify.js"></script>
{% endblock %}